services:
  backend:
    build: ./Back-end
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./Back-end/docker.env
    networks:
      - app-network

  frontend:
    build: ./Front-end
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
