version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl/cloudflare.pem:/etc/ssl/certs/cloudflare.pem
      - ./nginx/ssl/cloudflare.key:/etc/ssl/private/cloudflare.key
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./Back-end
    container_name: backend
    restart: always
    expose:
      - "5000"
    env_file:
      - ./Back-end/docker.env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
